{% extends 'adminindex.html' %}
{% block content %}
<div style="margin-right: 40px;" class="col-lg-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">User's Orders</h4>
        </p>
        <table style="" class="table table-bordered">
          <thead>
            <tr>
              <b><th> USER'S NAME </th></b>
              <b><th> USER'S EMAIL </th></b>
              <b><th> USER'S PHONE </th></b>
              <th><b> NAME </b></th>
              <th><b> PRICE</b> </th>
              <th><b> QUANTITY</b> </th>
              <th><b> TOTAL</b> </th>
              <b><th> PRODUCTS </th></b>

            
              
             
            </tr>
          </thead>
          <tbody>
            {% for i in data %}
            <tr class="table-info">
                <td>{{i.userid.username}}</td>
                <td>{{i.userid.email}}</td>
                <td>{{i.userid.phone}}</td>
                <td>{{i.cartid.productid.pname}}</td>
                <td>{{i.cartid.productid.pprice}}</td>
                <td>{{i.cartid.quantity}}</td>
                <td>{{i.cartid.total}}</td>
                <th scope="row"><img style="height: 50px;width: 50px;" src="{{i.cartid.productid.pimage.url}}" alt=""></th>

             

            </tr>
            {% endfor %}
           
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}