{% extends 'userindex.html' %}
{% block body %}
<div class="page-title light-background">
    <div class="container">
      <h1>Contact</h1>
      <nav class="breadcrumbs">
        <ol>
            <li><a href="{% url 'userindex' %}">Home</a></li>
          <li class="current">Contact Status</li>
        </ol>
      </nav>
    </div>
  </div>
  <section id="contact" class="contact section">

    <div class="container aos-init aos-animate" data-aos="fade">

      <div class="row gy-5 gx-lg-5">

        <div class="col-lg-12">
          <h3 style="text-align: center;">Your Feedback is successfully sended.....</h3>
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section>
{% endblock %}