

{% extends 'userindex.html' %}
{% block body %}
<div class="page-title light-background">
    <div class="container">
      <h1>Payment</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li class="current">Payment</li>
        </ol>
      </nav>
    </div>
  </div>
  <section id="contact" class="contact section">

    <div class="container aos-init aos-animate" data-aos="fade">

      <div class="row gy-5 gx-lg-5">

        <div class="col-lg-12">
          <form action="{% url 'create_payment' %}" method="post" role="form" class="">
            {% csrf_token %}
			{% if 'u_id' in request.session %}
            
          

            <center><button type="submit" class="btn btn-success mr-2">Pay Now</button></center>
            {% endif %}
          </form>
          
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section>
{% endblock %}