{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>AESTHETIC DOOR</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Active
  * Template URL: https://bootstrapmade.com/active-bootstrap-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'userindex' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;" class="sitename">Aesthetic Door.</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          {% if 'u_id' in request.session %}
          <li><a href="{% url 'userindex' %}" class="active">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'viewcategories' %}">Categories</a></li>
          <li><a href="{% url 'viewproducts' cat='all' %}">Products</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          
          <li ><a style="color: rgb(11, 240, 164);" >Welcome {{request.session.username_u}}</a></li>

          <li><a href="{% url 'userlogout' %}">Logout</a></li>
          <li><a href="{% url 'wishlist' %}">My Wishlist</a></li>
          <li><a href="{% url 'orders' %}">My Orders</a></li>
          {% else %}
          <li><a href="{% url 'userindex' %}" class="active">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'userlog' %}">Login</a></li>
          <li><a href="{% url 'userreg' %}">Register</a></li>
          {% endif %}

        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2" data-aos="fade-up" data-aos-delay="400">
            <div class="swiper init-swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "breakpoints": {
                    "320": {
                      "slidesPerView": 1,
                      "spaceBetween": 40
                    },
                    "1200": {
                      "slidesPerView": 1,
                      "spaceBetween": 1
                    }
                  }
                }
              </script>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="{% static 'assets/img/img_h_6.jpg' %} " alt="Image" class="img-fluid" style="height: 500px;width: 800px;">
                </div>
                <div class="swiper-slide">
                  <img src="{% static 'assets/img/img_h_7.jpg' %}" alt="Image" class="img-fluid" style="height: 500px; width: 800px;">
                </div>
                <div class="swiper-slide">
                  <img src="{% static 'assets/img/BANNER3.jpeg' %}" alt="Image" class="img-fluid" style="height: 500px;width: 800px;">
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="col-lg-4 order-lg-1">
            <span class="section-subtitle" data-aos="fade-up">Welcome</span>
            <h1 class="mb-4" data-aos="fade-up">
             To Our Aesthetic Door
            </h1>
            <p data-aos="fade-up">
             We provides You A far Journey to our 'Aesthetic Door'.You can see the different aesthetic section and you can make your while life & lifestyle with Aesthetic collection through Aesthetic Door
            </p>
            <p class="mt-5" data-aos="fade-up">
              <a href="{% url 'viewproducts' cat='all' %}" class="btn btn-get-started">Get Started</a>
            </p>
          </div>
        </div>
      </div>
    </section><!-- /About Section -->
    {% block body %}
    <!-- About 2 Section -->
    <section id="about-2" class="about-2 section light-background">

      <div class="container">
        <div class="content">
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4 order-lg-2 offset-xl-1 mb-4">
              <div class="img-wrap text-center text-md-left" data-aos="fade-up" data-aos-delay="100">
                <div class="img">
                  <img src="{% static 'assets/img/BANNER1.jpeg' %}" alt="circle image" class="img-fluid">
                </div>
              </div>
            </div>

            <div class="offset-md-0 offset-lg-1 col-sm-12 col-md-5 col-lg-5 col-xl-4" data-aos="fade-up">
              <div class="px-3">
                <span class="content-subtitle">Our Mission</span>
                <h2 class="content-title text-start">
                  Welcome to Aesthetic Door, your gateway to a world of elegant and carefully curated aesthetic products. 
                </h2>
                <p class="lead">
                  We are passionate about bringing beauty, functionality, and inspiration into your everyday life.

At Aesthetic Door, we believe that the objects you surround yourself with should not only serve a purpose but also bring joy and elevate your environment. 
                </p>
                <p class="mb-5">
                  Whether you’re looking for stylish home decor, unique accessories, or thoughtful gifts, our collection is designed to cater to every taste and style.

                  Our platform connects buyers and sellers who share a love for aesthetics, providing a seamless and secure shopping experience. From handcrafted treasures to modern designs, we bring together creators and enthusiasts to celebrate the art of living beautifully.
                  
                  Join us on this journey to discover pieces that inspire creativity, spark joy, and turn ordinary moments into extraordinary experiences.
                  
                  Step through Aesthetic Door and transform the way you shop for the things you love
                </p>
                <p>
                  <a href="#" class="btn-get-started">Get Started</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /About 2 Section -->

    <!-- Services Section -->
    <section id="services" class="services section light-background">

      <div class="container">
        <div class="row gy-4 justify-content-center">

          <div class="col-lg-3">
            <div class="services-item" data-aos="fade-up">
              <div class="services-icon">
                <i class="bi bi-bullseye"></i>
              </div>
              <div>
                <h3>Technology</h3>
                <p>Technology is Growing</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="services-item" data-aos="fade-up" data-aos-delay="100">
              <div class="services-icon">
                <i class="bi bi-command"></i>
              </div>
              <div>
                <h3>Web Design</h3>
                <p>It is user-friendly platform for Your 'Aesthetic Dreams!!'</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="services-item" data-aos="fade-up" data-aos-delay="200">
              <div class="services-icon">
                <i class="bi bi-bar-chart"></i>
              </div>
              <div>
                <h3>Branding</h3>
                <p>Fastly growing Website Globally</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- /Services Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section light-background">

      <div class="container">

        <div class="row gy-4 justify-content-center">

          <div class="col-lg-5">
            <div class="images-overlap">
              <img src="{% static 'assets/img/BANNER2.jpeg' %}" alt="student" class="img-fluid img-1" data-aos="fade-up">
            </div>
          </div>

          <div class="col-lg-4 ps-lg-5">
            <span class="content-subtitle">Why Us</span>
            <h2 class="content-title">At Aesthetic Door, </h2>
           <br><br><br><br><br>

            <p class="mb-5">
              <b>we go beyond being just a marketplace—we’re a community dedicated to enhancing the way you experience beauty and design. Here's why we're the perfect choice for your aesthetic product needs:</b>
            </p>
            <div class="row mb-5 count-numbers">

              <!-- Start Stats Item -->
             
              <!-- End Stats Item -->

            </div>
          </div>

        </div>

      </div>
    </section><!-- /Stats Section -->
<br>
    <center>
      <center><h3><u>OUR AESTHETIC CATEGORIES</u></h3></center>
      <section id="team" class="team section">
    
        
                
        <div class="row">
          {% for i in cat %}
          <div class="col-6">
            
        
        
        <!-- <div class="swiper-slide"></div> -->
          <div class="team container">
            <div class="pic">
              <img src="{{i.cimage.url}}" style="height: 500px;width: 500px;" alt="Image" class="img-fluid">
            </div>
            <h3 clas="">
              <a href="#"><span class="text-danger">{{i.cname}}</span> </a>
            </h3>
            <b><p style="font-size:x-small;font-family: Georgia, 'Times New Roman', Times, serif;">
              {{i.cdesc}}
            </p></b>
            <p class="mb-0">
              <a href="{% url 'viewproducts' cat=i.cname %}" class="more dark bg-danger">VIEW PRODUCTS <span class="bi bi-arrow-right-short"></span></a>
            </p><br>
          </div>
    
    
    
          </div>
          {% endfor %}
    
        </div>
    </div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    </div>
    <!-- /.container -->
    </div>
    </section>
    </center>
    <br><br><hr>
    <center><br>
      <center><h3><u>OUR AESTHETIC PRODUCTS</u></h3></center>
      <section id="team" class="team section">
    
        
                
        <div class="row">
          {% for i in pro %}
          <div class="col-6">
            
        
        
        <!-- <div class="swiper-slide"></div> -->
          <div class="team container">
            <div class="pic">
              <img src="{{i.pimage.url}}" style="height: 500px;width: 500px;" alt="Image" class="img-fluid">
            </div>
            <h3 clas="">
              <a href="#"><span class="text-danger">{{i.pname}}</span> </a>
            </h3>
            
            <p class="mb-0">
              <a href="{% url 'viewmoreproducts' id=i.id %}" class="more dark bg-danger">VIEW MORE DETAILS <span class="bi bi-arrow-right-short"></span></a>
            </p><br>
          </div>
    
    
    
          </div>
          {% endfor %}
    
        </div>
    </div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    </div>
    <!-- /.container -->
    </div>
    </section>
    </center>

   
    {% endblock %}

  </main>

  <footer id="footer" class="footer light-background">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
          <div class="widget">
            <h3 class="widget-heading">About Us</h3>
            <p class="mb-4">
              We provides You A far Journey to our 'Aesthetic Door'.You can see the different aesthetic section and you can make your while life & lifestyle with Aesthetic collection through Aesthetic Door
            </p>
            <p class="mb-0">
              <a href="{% url 'viewproducts' cat='all' %}" class="btn-learn-more">Learn more</a>
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 ps-lg-5 mb-3 mb-md-0">
          <div class="widget">
            <h3 class="widget-heading">Navigation</h3>
            <ul class="list-unstyled float-start me-5">
              <li><a href="{% url 'userindex' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="{% url 'viewcategories' %}">Categories</a></li>
            </ul>
            <ul class="list-unstyled float-start">
              <li><a href="{% url 'viewproducts' cat='all' %}">Products</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
              <li><a href="{% url 'orders' %}">Orders</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 pl-lg-5">
          <div class="widget">
            <h3 class="widget-heading">Website Development Details</h3>
            <ul class="list-unstyled footer-blog-entry">
              <li>
                <span class="d-block date">Developer</span>
                <a>MS. THASNA SHERIN AK</a>
              </li>
              <li>
                <span class="d-block date">Email</span>
                <a href="mailto:thasnasherin@gmail.com">thasnasherin@gmail.com</a>
              </li>
              <li>
                <span class="d-block date">Mobile No</span>
                <a>9544398326</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 pl-lg-5">
          

          <div class="widget">
            <div class="footer-subscribe">
              <h3 class="widget-heading">For More Details</h3>
              
               
                
                <div class="loading">Contact Below</div>
                <a href="{% url 'contact' %}"><div class="error-message">AESTHETIC DOOR CONTACT (for more enqueries)</div></a>
                <div class="sent-message">
                  Your enquiry request has been sent. Thank you!
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright d-flex flex-column flex-md-row align-items-center justify-content-md-between">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Aesthetic Door.</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          Designed by <a href="">THASNA SHERIN </a> Distributed By <a href="https://themewagon.com">Thasna's Themes</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>

</html>