<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
  
</body>
</html>
{% extends 'userindex.html' %}
{% block body %}
<div class="page-title light-background">
  <div class="container">
    <h1>About</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="{% url 'userindex' %}">Home</a></li>
        <li class="current">Products</li>
      </ol>
    </nav>
  </div>
</div>
<center>
  <center><h3><u>OUR AESTHETIC PRODUCTS</u></h3></center>
  <section id="team" class="team section">

    
            
    <div class="row">
      {% for i in pro %}
      <div class="col-6">
        
    
    
    <!-- <div class="swiper-slide"></div> -->
      <div class="team container">
        <div class="pic">
          <img src="{{i.pimage.url}}" style="height: 500px;width: 500px;" alt="Image" class="img-fluid">
        </div>
        <h3 clas="">
          <a href="#"><span class="text-danger">{{i.pname}}</span> </a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'addtowish' id=i.id %}">
            <i class="fa fa-heart bg-danger"></i>
          </a>
        </h3>
       
  
        <p class="mb-0">
          <a href="{% url 'viewmoreproducts' id=i.id %}" class="more dark bg-success">VIEW MORE DETAILS <span class="bi bi-arrow-right-short"></span></a>
        </p><br>
      </div>



      </div>
      {% endfor %}

    </div>
</div>
<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</div>
<!-- /.container -->
</div>
</section>
</center>
{% endblock %}